.hedr{
    background-image: url(imgs/hero-bg.jpg);
    height: 100vh;
    background-position:center center;
    background-size: cover;
}
.hero-title{
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
}
.nam h4{
    font-weight: lighter;
    font-size: 20px;
}
.baar{
    height: 50%;
}
.about-me p{
    font-family: sans-serif;
}
.me{
    
    /*background-color: khaki; */
    position: relative;
}
.me::after{
    content: "";
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 0px;
    height: 3px;
    width: 22%;
}
.item{
    background-color:white;
    border-radius: 2px;
}
.item i{
    font-size: 50px;
}
.item p{
    font-size: 18px;
    font-weight:normal;
}
.item:hover i{
    color: white;
    background-color: rgb(57, 57, 243);
    border-right-color: yellow;
}
.coun{
    background-image: url(imgs/counters-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.symbol{
    height: 500px;
    background-color: rgba(29, 29, 131, 0.562);
}
.symbol i{
    font-size: 50px;
    color: white;
}
.cou{
    color: white;
    text-align: center;
}

.card1{
    overflow: hidden;
}
.card1 img{
    transition: all 2s;
}
.card1:hover img{
    transform: scale(1.3);
}
.slider{
    background-image: url(imgs/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.tree{
    background-color: rgba(78, 78, 189, 0.582);
    height: 500px;
}
.blog{
    position: relative;
}
.blog-lin::after{
    content: "";
    background-color: blue;
    position: absolute;
    top: 130px;
    left: 47%;
    height: 3px;
    width: 5%;
}
.alnoso{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}
.blog h1{
    font-size: 70px;
}
.footer{
    background-image: url(imgs/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.footer1{
    background-color: rgba(29, 29, 131, 0.562);
    height: 500px;
}
.get i{
    font-size: 20px;
}
.get:hover i{
    background-color: darkblue;
    color: darkgoldenrod;
    border-color: darkgray;
}
.get{
    position: relative;
}
.touch::after{
    content: "";
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 10px;
    height: 3px;
    width: 10%;
}

@media only screen and (max-width: 991px) {
    .navvo{
     font-size: 20px;
    }
}