*{
    box-sizing: border-box;
}
.header{
    background-image: url(../imgs/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
nav{
    z-index: 99999;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}
.navbar-brand a{
    font-weight: 100;;
}

.nav-item a{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bgLayer{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(71, 68, 68, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.bgLayer-caption h2{
    font-weight: bold;
 font-size: 45px;
 font-family: Arial, Helvetica, sans-serif;
}
.bgLayer-caption p{
    font-size: 34px;
    text-align: center;
    font-family: monospace;
}
#demo::after{
    content: "|";
    animation-name: typingSection;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes typingSection {
    0% { content: "|";}
    2% { content: "D|";}
    4% { content: "De|";}
    6% { content: "Des|";}
    8% { content: "Desi|";}
    10% { content: "Desig|";}
    12% {content: "Design|";}
    14% {content: "Designe|";}
    16% {content: "Designer|";}
    30% {content: "Designe|";}
    32% {content: "Design|";}
    34% {content: "Desig|";}
    36% {content: "Desi|";}
    38% {content: "Des|";}
    40% {content: "De|";}
    42% {content: "D|";}
    44% {content: "|";}
    46% {content: "|";}
    48% {content: "D|";}
    50% {content: "De|";}
    52% {content: "Dev|";}
    54% {content: "Deve|";}
    56% {content: "Devel|";}
    58% {content: "Develo|";}
    60% {content: "Develop|";}
    62% {content: "Develope|";}
    64% {content: "Developer|";}
    66% {content: "Develope|";}
    68% {content: "Develop|";}
    70% {content: "Develo|";}
    72% {content: "Devel|";}
    74% {content: "Deve|";}
    76% {content: "Dev|";}
    78% {content: "De|";}
    80% {content: "D|";}
    82% {content: "|";}
}
.nam h4{
    font-weight: lighter;
    font-size: 20px;
}
.baar{
    height: 50%;
}
.about-me p{
    font-family: sans-serif;
}
.me{
    
    /*background-color: khaki; */
    position: relative;
}
.me::after{
    content: "";
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 0px;
    height: 3px;
    width: 22%;
}
.item{
    background-color:white;
    border-radius: 2px;
}
.item i{
    font-size: 50px;
}
.item p{
    font-size: 18px;
    font-weight:normal;
}
.item:hover i{
    color: white;
    background-color: rgb(57, 57, 243);
    border-right-color: yellow;
}
.coun{
    background-image: url(imgs/counters-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.symbol{
    height: 500px;
    background-color: rgba(29, 29, 131, 0.562);
}
.symbol i{
    font-size: 50px;
    color: white;
}
.cou{
    color: white;
    text-align: center;
}

.card1{
    overflow: hidden;
}
.card1 img{
    transition: all 2s;
}
.card1:hover img{
    transform: scale(1.3);
}
.slider{
    background-image: url(imgs/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.tree{
    background-color: rgba(78, 78, 189, 0.582);
    height: 500px;
}
.blog{
    position: relative;
}
.blog-lin::after{
    content: "";
    background-color: blue;
    position: absolute;
    top: 130px;
    left: 47%;
    height: 3px;
    width: 5%;
}
.alnoso{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}
.blog h1{
    font-size: 70px;
}
.footer{
    background-image: url(imgs/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.footer1{
    background-color: rgba(29, 29, 131, 0.562);
    height: 100vh;
}
.get i{
    font-size: 20px;
}
#icons:hover{
    background-color: rgb(185, 178, 178);
    border-color: darkgray;
    color: white;
}
.get{
    position: relative;
}
.touch::after{
    content: "";
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 10px;
    height: 3px;
    width: 10%;
}

@media only screen and (max-width: 991px) {
    .navvo{
     font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .bgLayer-caption{
        padding: 10px;
    }
    .footer{
        height: 100vh;
    }
    .footer1{
      margin: 20px;
    }
}
